<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personel Yönetim</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Departman", "Index", "Departman")</li>
            <li>@Html.ActionLink("Personel", "Index", "Departman")</li>
            <li><a href="#">Üye ol</a></li>
            <li><a href="#">Giriş</a></li>
        </ul>
    </div>
</nav>
